/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #173b44;
  --ifm-color-primary-dark: #15353d;
  --ifm-color-primary-darker: #14323a;
  --ifm-color-primary-darkest: #102930;
  --ifm-color-primary-light: #19414b;
  --ifm-color-primary-lighter: #1a444e;
  --ifm-color-primary-lightest: #1e4d58;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25a7c1;
  --ifm-color-primary-dark: #2196ae;
  --ifm-color-primary-darker: #1f8ea4;
  --ifm-color-primary-darkest: #1a7587;
  --ifm-color-primary-light: #27afcb;
  --ifm-color-primary-lighter: #29b8d4;
  --ifm-color-primary-lightest: #31bcd8;
}
