/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #173b44;
  --ifm-color-primary-dark: #15353d;
  --ifm-color-primary-darker: #14323a;
  --ifm-color-primary-darkest: #102930;
  --ifm-color-primary-light: #19414b;
  --ifm-color-primary-lighter: #1a444e;
  --ifm-color-primary-lightest: #1e4d58;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #648c94;
  --ifm-color-primary-dark: #2196ae;
  --ifm-color-primary-darker: #1f8ea4;
  --ifm-color-primary-darkest: #1a7587;
  --ifm-color-primary-light: #27afcb;
  --ifm-color-primary-lighter: #1c90a7;
  --ifm-color-primary-lightest: #31bcd8;
}

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
  nav .navbar__items {
    font-size: 30px;
    font-family: "Amatic SC";
  }

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+TC:wght@100..900&display=swap");

html {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

code, .token {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

