/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #009895;
  --ifm-color-primary-dark: #008986;
  --ifm-color-primary-darker: #00817f;
  --ifm-color-primary-darkest: #006a68;
  --ifm-color-primary-light: #00a7a4;
  --ifm-color-primary-lighter: #00afab;
  --ifm-color-primary-lightest: #00c6c2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #66d6d0;
  --ifm-color-primary-dark: #4dcfc8;
  --ifm-color-primary-darker: #41ccc5;
  --ifm-color-primary-darkest: #2faea8;
  --ifm-color-primary-light: #7fddd8;
  --ifm-color-primary-lighter: #8be0db;
  --ifm-color-primary-lightest: #b1eae7
}

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

nav .navbar__items .navbar__title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Amatic SC";
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+TC:wght@100..900&display=swap");

html {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

code,
.token {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

code {
  color: #e63946;
}

.hero__title {
  font-family: "Amatic SC";
  font-size: 48px;
  color: white;
}

.hero__subtitle {
  font-family: "Amatic SC";
  font-weight: bolder;
  color: #0ce7c3;
  display: inline-block;
  width: auto;
  max-width: 100%;
  padding: 6px;
}